@use '../../styles/variables.scss' as v;
@import '../../styles/mixins.scss';

.modals {
  &__confirmation {
    display: flex;
    justify-content: space-between;
    button {
      width: 45%;
    }
  }
  &__submit {
    display: flex;
    margin-top: 15px;
    justify-content: right;
    button {
      width: 50%;
    }
  }

  button {
    @include button-square(v.$primary-color, v.$white);
  }
}
