body {
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.6rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

.cursor-pointer {
  cursor: pointer !important;
}

.user-details{
  .MuiTypography-h3{
    font-size: 1.8rem
  }
  .MuiTypography-h4{
    font-size: 1rem;
  }
}
