@use '../../styles/variables' as v;
@import '../../styles/App.scss';
@import '../../styles/mixins.scss';

.user-details {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  height: 90vh;
  &__row {
    padding: 5px 0;
    display: block;
    line-height: 26px;
    &-center {
      text-align: center;
    }
  }
  span {
    display: block;
  }
  .script {
    font-family: v.$font-script;
    display: inline-block;
  }
  h2,
  h1 {
    margin: 0px;
  }
}

.catchPhrase {
  font-family: v.$font-script;
}
